<h2>Renvoyer les instructions pour réinitialiser mon mot de passe</h2>

<%= bootstrap_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.email_field :email, autofocus: true, label: "Email"  %>
  <%= f.submit "Renvoyez les instructions" %>
<% end %>

<%= render "devise/shared/links" %>
