<h2>Editer l'utilisateur</h2>
<%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, :html => { :style => 'position: relative'}) do |f| %>
  <%= f.email_field :email, autofocus: true , label: "Email" %>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    En attente de confirmation pour: <%= resource.unconfirmed_email %>
  <% end %>
    <br />
    <span style="position: absolute;left: 170px;font-size: 13px;top: 96px;"><i>(Laissez vide si vous ne voulez pas changer)</i></span>
    <%= f.password_field :password, autocomplete: "off", label: "Nouveau mot de passe", p: "test"  %>
    <%= f.password_field :password_confirmation, autocomplete: "off", label: "Confirmation"  %>
    <br />
    <span style="position: absolute;left: 150px;font-size: 13px;top: 263px;"><i>(Nécessaire pour valider les modifications)</i></span>
    <%= f.password_field :current_password, autocomplete: "off", label: "Mot de passe actuel"  %>
    <%= f.submit "Mettre à jour" %>
<% end %>
<h3>Bloquer mon compte</h3>
<p>:'-( ? <%= button_to "Bloquer mon compte", registration_path(resource_name), data: { confirm: "Etes vous sur ?" }, method: :delete %></p>
<%= link_to "Retour", :back %>
