<h2>S'enregistrer</h2>

<%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), :html => { :style => 'position: relative'}) do |f| %>
  <%= f.email_field :email, autofocus: true, label: "Email"  %>
  <br />
  <% if @validatable %><span style="position: absolute;left: 100px;"><i>(<%= @minimum_password_length %> caractères au minimum)</i></span><% end %>
    <%= f.password_field :password, autocomplete: "off" , label: "Mot de passe" %>
    <%= f.password_field :password_confirmation, autocomplete: "off" , label: "Confirmer le mot de passe" %>
  <%= f.submit "S'enregistrer" %>
<% end %>

<%= render "devise/shared/links" %>
