<%= bootstrap_form_for(@arduino) do |f| %>
    <%= f.text_field :name , label: "Nom"%>
    <% if(@arduino.hive_id.nil?) %>
        <%= f.select :hive_id, options_for_select(Hive.all.map{|s|[s.name, s.id]}), label: "Ruche" %>
    <% else %>
        <%= f.select :hive_id, options_for_select(Hive.all.map{|s|[s.name, s.id]}, @arduino.hive_id), label: "Ruche" %>
    <% end %>
    <%= f.number_field :serial, label: "Serial number"%>
    <%= f.submit %>
<% end %>
