<h1>Listing arduinos</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Hive</th>
      <th>Serial</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @arduinos.each do |arduino| %>
      <tr>
        <td><%= arduino.name %></td>
        <td><%= arduino.hive.name if arduino.hive %></td>
        <td><%= arduino.serial %></td>
        <td><%= link_to 'Voir', arduino %></td>
        <td><%= link_to 'Editer', edit_arduino_path(arduino) %></td>
        <td><%= link_to 'Supprimer', arduino, method: :delete, data: { confirm: 'Etes-vous sûr ?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nouvelle arduino', new_arduino_path %>
