<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @arduino.name %>
</p>

<p>
  <strong>Ruche:</strong>
  <%= @arduino.hive.name if @arduino.hive %>
</p>

<p>
  <strong>Serial:</strong>
  <%= @arduino.serial %>
</p>

<%= link_to 'Editer', edit_arduino_path(@arduino) %> |
<%= link_to 'Retour', :back %>
