<h2>Renvoyer les instructions de débloquage</h2>

<%= bootstrap_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
    <%= f.email_field :email, autofocus: true, label: "Email"  %>
    <%= f.submit "Renvoyer les instructions de débloquage" %>
<% end %>

<%= render "devise/shared/links" %>
