<h2>Changer de mot de passe</h2>

<%= bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.hidden_field :reset_password_token %>
    <%= f.password_field :password, autofocus: true, autocomplete: "off", label: "Nouveau mot de passe"  %>
    <%= f.password_field :password_confirmation, autocomplete: "off", label: "Confirmation"  %>
    <%= f.submit "Changer mon mot de passe" %>
<% end %>
<%= render "devise/shared/links" %>
