<h2>Vous avez oublié votre mot de passe ?</h2>

<%= bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.email_field :email, autofocus: true, label: "Email"  %>
  <%= f.submit "Envoyez moi les instructions pour réinitialiser mon mot de passe" %>
<% end %>
<%= render "devise/shared/links" %>
