<%= bootstrap_form_for(@sensor_type) do |f| %>
    <%= f.text_field :name, label: "Nom" %>
    <%= f.text_field :unit, label: "Unité"  %>
    <%= f.file_field :image , label: "Image"  %>
    <%= image_tag @sensor_type.image, :style => 'max-height:30px' if @sensor_type.image? %>
    <%= f.check_box :remove_image , label: "Supprimer l'image"  %>
    <%= f.submit %>
<% end %>
