<h1>Liste des types de capteur</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Unit</th>
      <th>Image</th>
      <th>Voir</th>
      <th>Editer</th>
      <th>Supprimer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sensor_types.each do |sensor_type| %>
      <tr>
        <td><%= sensor_type.name %></td>
        <td><%= sensor_type.unit %></td>
        <td><%= image_tag sensor_type.image, :style => 'max-height:30px' %></td>
        <td><%= link_to 'Voir', sensor_type %></td>
        <td><%= link_to 'Editer', edit_sensor_type_path(sensor_type) %></td>
        <td><%= link_to 'Supprimer', sensor_type, method: :delete, data: { confirm: 'Etes vous sûr ?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nouveau type de capteur', new_sensor_type_path %>
