<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @sensor_type.name %>
</p>

<p>
  <strong>Unité:</strong>
  <%= @sensor_type.unit %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @sensor_type.image %>
</p>

<%= link_to 'Editer', edit_sensor_type_path(@sensor_type) %> |
<%= link_to 'Retour', :back %>
