<html>
<head>
  <meta charset="UTF-8">
  <title>404 Bee Not Found</title>
  <style type="text/css">
      body{
          background-color: #ebbc14;
          font-family: fantasy;
          font-size: 30px;
          text-align: center;
      }
      .blink {
          -webkit-animation: myfirst 2s infinite;
          animation: myfirst 2s infinite;
      }

      @-webkit-keyframes myfirst {
          0%   {opacity: 0.2;}
          50%  {opacity: 1;}
          100% {opacity: 0.2;}
      }
      @keyframes myfirst {
          0%   {opacity: 0.2;}
          50%  {opacity: 1;}
          100% {opacity: 0.2;}
      }
      .container{
          position : absolute;
          width    : 200px;
          height   : 200px;
          left     : 50%;
          top      : 50%;
          margin-left : -100px;
          margin-top  : -150px;
      }
  </style>
</head>
<body>
<div class="container">
  <%= image_tag 'Hornet.png', :style => 'width:200px'%>
  <div class="blink">
    <div>Ouupss ...</div>
    <div>Internal server error</div>
  </div>
</div>
</body>
</html>