<h2>Connexion</h2>

<%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.email_field :email, autofocus: true , label: "Email" %>
    <%= f.password_field :password, autocomplete: "off", label: "Mot de passe" %>
    <% if devise_mapping.rememberable? -%>
        <%= f.check_box :remember_me, label: "Rester connecté" %>
    <% end -%>
    <%= f.submit "Connexion" %>
<% end %>

<%= render "devise/shared/links" %>
