<%= bootstrap_form_for(@datum) do |f| %>
    <%= f.text_field :value , label: "Valeur" %>
    <% if(@datum.sensor.nil?) %>
        <%= f.select :sensor_id, options_for_select(Sensor.all.map{|s|[s.name, s.id]}), label: "Capteur" %>
    <% else %>
        <%= f.select :sensor_id, options_for_select(Sensor.all.map{|s|[s.name, s.id]}, @datum.sensor.id), label: "Capteur"%>
    <% end %>
    <%= f.datetime_select :created_at , label: "Crée le" %>
    <%= f.datetime_select :updated_at , label: "Changée le" %>
    <%= f.submit %>
<% end %>
