<h1>Liste des valeurs</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Valeur</th>
      <th>Capteur</th>
      <th>Voir</th>
      <th>Editer</th>
      <th>Supprimer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @data.each do |datum| %>
      <tr>
        <td><%= datum.value %></td>
        <td><%= datum.sensor_id %></td>
        <td><%= link_to 'Voir', datum %></td>
        <td><%= link_to 'Editer', edit_datum_path(datum) %></td>
        <td><%= link_to 'Supprimer', datum, method: :delete, data: { confirm: 'Etes-vous sûr ?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nouvelle valeur', new_datum_path %>
