<p id="notice"><%= notice %></p>

<p>
  <strong>Valeur:</strong>
  <%= @datum.value %>
</p>

<p>
  <strong>Capteur:</strong>
  <%= @datum.sensor_id %>
</p>

<p>
  <strong>Crée:</strong>
  <%= @datum.created_at %>
</p>

<%= link_to 'Editer', edit_datum_path(@datum) %> |
<%= link_to 'Retour', :back %>
