<%= bootstrap_form_for(@sensor) do |f| %>
    <%= f.text_field :name , label: "Nom"%>
    <% if(@sensor.sensor_type.nil?) %>
        <%= f.select :sensor_type_id, options_for_select(SensorType.all.map{|s|[s.name, s.id]}), label: "Type" %>
    <% else %>
        <%= f.select :sensor_type_id, options_for_select(SensorType.all.map{|s|[s.name, s.id]}, @sensor.sensor_type.id), label: "Type" %>
    <% end %>
    <a onclick="$('#modalSensorType').modal()">
      Nouveau type de capteur
    </a>
    <% if(@sensor.arduino.nil?) %>
        <%= f.select :arduino_id, options_for_select(Arduino.all.map{|s|[s.name, s.id]}), label: "Arduino" %>
    <% else %>
        <%= f.select :arduino_id, options_for_select(Arduino.all.map{|s|[s.name, s.id]}, @sensor.arduino.id), label: "Arduino"%>
    <% end %>
    <a onclick="$('#modalArduino').modal()">
      Nouvelle arduino
    </a>
    <%= f.number_field :serial, label: "Serial number"%>
    <%= f.submit %>
<% end %>

<% if can? :create, SensorType %>
    <!-- Modal-->
    <div class="modal fade" id="modalSensorType" tabindex="-1" role="dialog" aria-labelledby="modalSensorTypeLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="modalSensorTypeLabel">Nouveau type de capteur</h4>
          </div>
          <div class="modal-body">
            <% sensor_type = SensorType.new %>
            <%= bootstrap_form_for(sensor_type) do |f| %>
                <%= f.text_field :name, label: "Nom" %>
                <%= f.text_field :unit, label: "Unité"  %>
                <%= f.file_field :image , label: "Image"  %>
                <%= f.check_box :remove_image , label: "Supprimer l'image"  %>
                <%= f.submit %>
            <% end %>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
          </div>
        </div>
      </div>
    </div>
<% end %>

<% if can? :create, Arduino %>
    <!-- Modal-->
    <div class="modal fade" id="modalArduino" tabindex="-1" role="dialog" aria-labelledby="modalArduinoLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="modalArduinoLabel">Nouvelle arduino</h4>
          </div>
          <div class="modal-body">
            <% arduino = Arduino.new %>
            <%= bootstrap_form_for(arduino) do |f| %>
                <%= f.text_field :name , label: "Nom"%>
                <%= f.select :hive_id, options_for_select(Hive.all.map{|s|[s.name, s.id]}), label: "Ruche" %>
                <%= f.number_field :serial, label: "Serial number"%>
                <%= f.submit %>
            <% end %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
          </div>
        </div>
      </div>
    </div>
<% end %>

