<h1>Listing capteurs</h1>

<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>Nom</th>
    <th>Type</th>
    <th>Arduino</th>
    <th>Serial</th>
    <th colspan="4"></th>
  </tr>
  </thead>

  <tbody>
  <% @sensors.each do |sensor| %>
      <tr>
        <td><%= sensor.name %></td>
        <td><%= sensor.sensor_type.name %></td>
        <td><%= sensor.arduino.name if sensor.arduino %></td>
        <td><%= sensor.serial %></td>
        <td><%= link_to 'Voir', sensor %></td>
        <td><%= link_to 'Editer', edit_sensor_path(sensor) %></td>
        <td><%= link_to 'Supprimer', sensor, method: :delete, data: { confirm: 'Etes-vous sûr ?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nouveau capteur', new_sensor_path %>
