<div class="row">
  <div class="col-lg-12 text-center">
    <h2 class="section-heading">Liste des capteurs</h2>
    <h3 class="section-subheading text-muted">Capteurs montés sur les ruches</h3>
  </div>
</div>

<br>
<br>

<!-- AFFICHAGES DES SENSORS -->
<div class="row placeholders">
  <% @sensors.each do |sensor| %>
      <% if can? :update, sensor %>
      <!-- Modal-->
      <div class="modal fade" id="modalSensor<%= sensor.id %>" tabindex="-1" role="dialog" aria-labelledby="modalSensorLabel<%= sensor.id %>" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title" id="modalSensorLabel<%= sensor.id %>">Editer capteur</h4>
            </div>
            <div class="modal-body">
              <%= bootstrap_form_for(sensor) do |f| %>
                  <% if sensor.errors.any? %>
                      <div id="error_explanation">
                        <h2><%= pluralize(sensor.errors.count, "error") %> prohibited this sensor from being saved:</h2>

                        <ul>
                          <% sensor.errors.full_messages.each do |message| %>
                              <li><%= message %></li>
                          <% end %>
                        </ul>
                      </div>
                  <% end %>
                  <%= f.text_field :name , label: "Nom"%>
                  <% if(sensor.sensor_type.nil?) %>
                      <%= f.select :sensor_type_id, options_for_select(SensorType.all.map{|s|[s.name, s.id]}), label: "Type" %>
                  <% else %>
                      <%= f.select :sensor_type_id, options_for_select(SensorType.all.map{|s|[s.name, s.id]}, sensor.sensor_type.id), label: "Type" %>
                  <% end %>
                  <% if(sensor.arduino.nil?) %>
                      <%= f.select :arduino_id, options_for_select(Arduino.all.map{|s|[s.name, s.id]}), label: "Arduino" %>
                  <% else %>
                      <%= f.select :arduino_id, options_for_select(Arduino.all.map{|s|[s.name, s.id]}, sensor.arduino.id), label: "Arduino"%>
                  <% end %>
                  <%= f.submit %>
              <% end %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
            </div>
          </div>
        </div>
      </div>
      <% end %>
      <div class="eq-col-xs-12 col-sm-4 col-lg-3 tileContainer tileEffect">
        <div class="col-xs-12 tile">
          <div class="col-xs-8">
            <%= link_to image_tag(sensor.sensor_type.image, :class=>'iconEffect iconEffectNoZoom img-responsive'), sensor %>
          </div>
          <div class="col-xs-4 text-right" style="padding:0">
            <div class="col-xs-12"><%= link_to content_tag(:span, '', :class => 'iconEffect glyphicon glyphicon-search glyphicon-change'), sensor %></div>
            <% if can? :update, sensor %>
            <div class="col-xs-12">
              <a onclick="$('#modalSensor<%= sensor.id %>').modal()">
                <span class="iconEffect glyphicon glyphicon-pencil glyphicon-change" aria-hidden="true"></span>
              </a>
            </div>
            <% end %>
            <% if can? :delete, sensor %>
            <div class="col-xs-12"><%= link_to content_tag(:span, '', :class => 'iconEffect glyphicon glyphicon-remove glyphicon-change'), sensor, method: :delete, data: { confirm: 'Etes-vous sûr?' } %></div>
            <% end %>
          </div>
          <div class="col-xs-8">
            <b><%= sensor.name %> :</b>
          </div>
          <div class="col-xs-4">
            <% if sensor.datum.last().nil? %>
                #
            <% else %>
                <%= sensor.datum.last().value %><%= sensor.sensor_type.unit %>
            <% end %>
          </div>
          <div class="col-xs-8">
            <b>Comparer</b>
          </div>
          <div class="col-xs-4">
            <input type="checkbox" class="compareSensor" data-id="<%= sensor.id %>"/>
          </div>
          <% if can? :update, sensor %>
              <div class="col-xs-8">
                <b>Serial :</b>
              </div>
              <div class="col-xs-4">
                <%= sensor.serial %>
              </div>
          <% end %>
        </div>
      </div>
  <% end %>
  <% if can? :create, Sensor %>
  <div class="col-xs-12 col-sm-5 col-md-3 col-lg-2 tileContainer tileEffect">
    <div class="col-xs-12 tile">
      <div class="col-xs-8">
        <%= image_tag 'capteur.png', :class=>'img-responsive' %>
      </div>
      <div class="col-xs-4 text-right" style="padding:0">
        <div class="col-xs-12"><%= link_to content_tag(:span, '', :class => 'iconEffect glyphicon glyphicon-plus glyphicon-change'), new_sensor_path %></div>
      </div>
      <div class="col-xs-12">
        <b>Emplacement disponible</b>
      </div>
    </div>
  </div>
  <% end %>
</div>

<% if @sensors.size > 0 %>
    <input type="submit" class="btn btn-success" value="Comparer"/>
<% end %>

<script>
    $("input[type=submit]").click(function(){
        var compare = {};
        compare.sensors = [];
        compare['<%= request_forgery_protection_token.to_s %>'] = "<%= form_authenticity_token %>";
        $(".compareSensor").each(function(){
            if($(this).prop('checked'))
            {
                compare.sensors.push($(this).attr("data-id"));
            }
        });
        if(compare.sensors.length > 0)
        {
            $.form("<%= url_for :controller => 'sensors', :action => 'compare' %>", compare, 'POST').submit();
        }
    })
</script>