<div class="row">
  <div class="col-lg-12 text-center">
    <h2 class="section-heading">Liste des ruches</h2>
    <h3 class="section-subheading text-muted">Ruches connectées au système</h3>
  </div>
</div>

<br>
<br>

<!-- AFFICHAGES DES RUCHES -->
<div class="row placeholders">
  <% @hives.each do |hive| %>
      <div class="eq-col-xs-12 col-sm-6 col-md-4 col-lg-3 tileContainer tileEffect">
        <div class="col-xs-12 tile">
          <div class="working-state-indicator <%= @hiveState[hive.id] ? 'green-indicator' : 'red-indicator' %>"></div>
          <div class="col-xs-8">
            <%= link_to image_tag('ruche-flat.png', :class=>'iconEffect iconEffectNoZoom img-responsive'), hive %>
          </div>
          <div class="col-xs-4 text-right" style="padding:0">
            <div class="col-xs-12"><%= link_to content_tag(:span, '', :class => 'iconEffect glyphicon glyphicon-search glyphicon-change'), hive %></div>
            <% if can? :update, hive %>
                <div class="col-xs-12">
                  <a onclick="$('#modal<%= hive.id %>').modal()">
                    <span class="iconEffect glyphicon glyphicon-pencil glyphicon-change" aria-hidden="true"></span>
                  </a>
                </div>
            <% end %>
            <% if can? :delete, hive %>
                <div class="col-xs-12">
                  <%= link_to content_tag(:span, '', :class => 'iconEffect glyphicon glyphicon-remove glyphicon-change'), hive, method: :delete, data: { confirm: 'Etes-vous sûr?' } %>
                </div>
                <!-- Button trigger modal-->
            <% end %>
          </div>
          <div class="col-xs-12">
            <b><%= hive.name %></b>
          </div>
        </div>
      </div>
      <% if can? :update, hive %>
          <!-- Modal-->
          <div class="modal fade" id="modal<%= hive.id %>" tabindex="-1" role="dialog" aria-labelledby="modalLabel<%= hive.id %>" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <h4 class="modal-title" id="modalLabel<%= hive.id %>">Editer ruche</h4>
                </div>
                <div class="modal-body">
                  <%= bootstrap_form_for(hive) do |f| %>
                      <% if hive.errors.any? %>
                          <div id="error_explanation">
                            <h2><%= pluralize(hive.errors.count, "error") %> prohibited this hive from being saved:</h2>
                            <ul>
                              <% hive.errors.full_messages.each do |message| %>
                                  <li><%= message %></li>
                              <% end %>
                            </ul>
                          </div>
                      <% end %>
                      <%= f.text_field :name, label: "Nom" %>
                      <%= f.submit %>
                  <% end %>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                </div>
              </div>
            </div>
          </div>
      <% end %>
  <% end %>
  <% if can? :create, Hive %>
  <div class="col-xs-12 col-sm-5 col-md-3 col-lg-2 tileContainer tileEffect">
    <div class="col-xs-12 tile">
      <div class="col-xs-8">
        <%= image_tag 'ruche-flat.png', :class=>'img-responsive' %>
      </div>
      <div class="col-xs-4  text-right" style="padding:0">
        <div class="col-xs-12"><%= link_to content_tag(:span, '', :class => 'iconEffect glyphicon glyphicon-plus glyphicon-change'), new_hive_path %></div>
      </div>
      <div class="col-xs-12">
          <b>Emplacement disponible</b>
      </div>
    </div>
  </div>
  <% end %>
</div>