<h1>Listing ruches</h1>

<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>Nom</th>
    <th colspan="1"></th>
  </tr>
  </thead>

  <tbody>
  <% @hives.each do |hive| %>
      <tr>
        <td><%= hive.name %></td>
        <td><%= link_to 'Voir', hive %></td>
        <td><%= link_to 'Editer', edit_hive_path(hive) %></td>
        <td><%= link_to 'Supprimer', hive, method: :delete, data: { confirm: 'Etes-vous sûr ?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nouvelle ruche', new_hive_path %>
