.img-center {margin:0 auto;}

.img-responsive{
    width: 100%;
    height: 100%;
}

.tileContainer{
    padding:10px;
}

/*Icon*/
.iconEffect
{
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.iconEffect:hover
{
    opacity: 0.5;
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -ms-transform:scale(1.1);
    -o-transform:scale(1.1);
    transform:scale(1.1);
}

.iconEffectNoZoom:hover
{
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1);
    -o-transform:scale(1);
    transform:scale(1);
}

/*Tile*/
.tile{
    background-color: #FCFCFC;
    padding: 5px;
    border-radius: 3px;
    border-bottom: solid 3px rgb(161, 161, 161);
    text-align: center;
}

.tileEffect
{
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.tileEffect:hover
{
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -ms-transform:scale(1.1);
    -o-transform:scale(1.1);
    transform:scale(1.1);
}

body
{
    transform: translateZ(0);
}

html, body
{
    height: 100%;
}

input[type="radio"], input[type="checkbox"] {
    height: 20px;
    width: 20px;
}

@media only screen and (min-width : 320px) {
    .glyphicon-change
    {
        font-family: Glyphicons Halflings;
        color: gray;
        font-size: 3.5em;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    .glyphicon-change
    {
        font-size: 4.5em;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .glyphicon-change
    {
        font-size: 2.5em;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .glyphicon-change
    {
        font-size: 1.5em;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .glyphicon-change
    {
        font-size: 1.5em;
    }
}

.nav-divider
{
    background-color: rgb(0, 0, 0);
    height: 2px;
    margin: 0 20px 0 20px;
    border-bottom: solid 1px rgb(89, 89, 89);
}