// Place all the styles related to the hives controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.working-state-indicator {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.red-indicator {
  background: #e89c9d; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  #e89c9d 0%, #ec6f70 60%, #b24647 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#e89c9d), color-stop(60%,#ec6f70), color-stop(100%,#b24647)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  #e89c9d 0%,#ec6f70 60%,#b24647 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  #e89c9d 0%,#ec6f70 60%,#b24647 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  #e89c9d 0%,#ec6f70 60%,#b24647 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  #e89c9d 0%,#ec6f70 60%,#b24647 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e89c9d', endColorstr='#b24647',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.green-indicator {
  background: #a2e595; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  #a2e595 0%, #83d26d 60%, #53a661 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#a2e595), color-stop(60%,#83d26d), color-stop(100%,#53a661)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  #a2e595 0%,#83d26d 60%,#53a661 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  #a2e595 0%,#83d26d 60%,#53a661 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  #a2e595 0%,#83d26d 60%,#53a661 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  #a2e595 0%,#83d26d 60%,#53a661 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a2e595', endColorstr='#53a661',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}


@media screen and (max-width: 1024px) {
  .hive-state-indicator {
    width: 10px;
    height: 10px;
  }
}

@media screen and (max-width: 768px) {
  .hive-state-indicator {
    width: 25px;
    height: 25px;
  }
}