<h1>Liste des utilisateurs</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Modifier</th>
      <th>Supprimer</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= link_to 'Editer', edit_admin_user_path(user) %></td>
        <td><%= link_to 'Supprimer', admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

