<!DOCTYPE html>
<html>
<head>
  <title>Ruches</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="ISTIA">
  <meta name="theme-color" content="#FFC700">
  <link rel="icon" href="<%= image_path "favicon.ico" %>">
  <title>Ruche</title>
  <style type="text/css" id="holderjs-style"></style>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to image_tag('e-Bee_logo.png', width:'50px'), root_path, :class=>'navbar-brand', :style=>'padding:0 0 0 15px;' %></li>
        <li>
          <a href="#menu-toggle" id="menu-toggle">
            <span class="custom-icon-bar"></span>
            <span class="custom-icon-bar"></span>
            <span class="custom-icon-bar"></span>
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Tableau de bord</a></li>
        <li><a href="/sensors">Capteurs</a></li>
        <% if user_signed_in? %>
            <% if can? :manage, :admin %>
                <li><%= link_to "Administration", admin_path, :class => 'navbar-link' %></li>
            <% end %>
            <li><%= link_to current_user.email, edit_user_registration_path, :class => 'navbar-link' %></li>
            <li><%= link_to "Déconnexion", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
        <% else %>
            <li><%= link_to "S'enregistrer", new_user_registration_path, :class => 'navbar-link'  %></li>
            <li><%= link_to "Se connecter", new_user_session_path, :class => 'navbar-link'  %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<div id="wrapper" class="">
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a href="#">
          Menu
        </a>
      </li>
      <li class="nav-divider"></li>
      <li>
        <label label-default="" class="tree-toggler nav-header">Liste des ruches </label>
        <ul class="nav  tree active-trial">
          <% Hive.all.each do |hive| %>
              <li>
                <%= link_to(content_tag('span', image_tag('bee.png', :class => 'sidebar-icon') + hive.name), hive) %>
              </li>
          <% end %>
        </ul>
      </li>
      <li class="nav-divider"></li>
      <li>
        <label label-default="" class="tree-toggler nav-header">Liste des capteurs </label>
        <ul class="nav  tree active-trial">
          <% Sensor.all.each do |sensor| %>
              <li>
                <%= link_to(content_tag('span', image_tag('bee.png', :class => 'sidebar-icon') + sensor.name), sensor) %>
              </li>
          <% end %>
        </ul>
      </li>
      <li class="nav-divider"></li>
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <% if notice %>
              <p class="alert alert-success"><%= notice %></p>
          <% end %>
          <% if alert %>
              <p class="alert alert-danger"><%= alert %></p>
          <% end %>
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->
</body>
</html>